.DS_Store
pinchpenny.xcodeproj/project.xcworkspace/xcshareddata/
pinchpenny.xcodeproj/project.xcworkspace/xcuserdata/
pinchpenny.xcodeproj/project.xcworkspace/xcuserdata/edlucero.xcuserdatad/
pinchpenny.xcworkspace/xcuserdata/edlucero.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
