<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>nDJGWgAuS4Wh1MALOQrNrA</string>
	<key>developmentAppSecret</key>
	<string>WLExPilFRtyCdO-NASmCvw</string>
	<key>productionAppKey</key>
	<string>QV6xZjEGRsKGf3wNFbo-ew</string>
	<key>productionAppSecret</key>
	<string>-rnI5k38TpG8kH8FqqIGDg</string>
</dict>
</plist>
